<template>
    <div >
        <div class="sidebar-opened" id="sidebar" :class="{ sidebarclosed : !boxOpened }">
            <div class="box-header" > 
                {{ activeApp.title }}
                <button @click="close" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="box-content"> 
                <!-- To do : Script to load only active component-->
                <Polls v-if="activeApp.name == 'Polls'"/>
                <Notes v-if="activeApp.name == 'Notes'"/>
                <Chat v-if="activeApp.name == 'Chat'"/>
                <Agenda v-if="activeApp.name == 'Agenda'"/>
                <Resources v-if="activeApp.name == 'Resources'"/>
                <Qa v-if="activeApp.name == 'Qa'"/>
            </div>
        </div>

        <nav class="mb-3">
            <b-nav vertical>
                <b-nav-item
                    v-for="component in activeComponents"
                    :key="component.identifier"
                    :href="`#${component.tag}`"
                    @click="openApp($event, component)">
                    <font-awesome-icon :icon="['fas', component.icon]" />
                    <div class="nav-icon"> 
                        {{ component.title}}
                    </div>
                </b-nav-item>
            </b-nav>
        </nav>
    </div>
    
</template>

<script>
    import componentLoader from '../utilities/component-loader';
    import Polls from '../components/polls/Polls';
    import Notes from '../components/notes/Notes';
    import Chat from '../components/chat/Chat';
    import Agenda from '../components/agenda/Agenda';
    import Resources from '../components/resources/Resources';
    import Qa from '../components/qa/Qa'; 

    export default {
        name: 'side-menu',
        data() {
            return {
                activeComponents: componentLoader.sideMenuComponents() || [],
                boxOpened: false,
                activeApp: {},
            }
        },
        components: {
            Polls,
            Notes,
        },
        methods: {
            close: function (event) {
                this.boxOpened = false;
            },

            open: function (event) {
                this.boxOpened = true;
            },

            openApp: function (event, appName) {
                this.activeApp = appName;
                this.open();
            }
        },

        
    }
</script>

<style >
    .nav-link {
        padding-left:0;
        color: #ccc;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;

    }
    .nav-link:hover {color: #fff;}
    .nav-icon {
        font-size: 8px;
    }
    .side-nav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 5px;
        text-decoration: none;
        
    }

    .side-nav a:hover {
        border-bottom: 1px solid white;
    }

    .side-nav a.active {
        border-bottom: 1px solid white;
    }

    /* Content */
    .sidebar-opened {
        width: 300px;
        min-height: 100vh;
        background-color: #eee;
        border-left: 1px solid #fff;
        color: #333;
        right: 50px;
        position: absolute;
    }

    .sidebarclosed {
        visibility: hidden !important;
    }

    .box-header {
        overflow: hidden;
        height: 40px;
        background-color: #fff;
        color: #333;
        border-bottom: 1px solid #eee;
        top: 50px;  
        width: 100%;  
        padding: 5px;
        font-weight: bold;
    }

    .box-content {
        overflow: scroll;
        min-height: 100vh;
    }
</style>