<template>
  <v-card>
    <v-tabs
        v-model="tab"
        align-with-title
    >
        <v-tabs-slider color="yellow"></v-tabs-slider>

        <v-tab v-for="item in items" :key="item">
        {{ item }}
        </v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item
        v-for="item in items"
        :key="item"
      >
        <v-card flat>
          
            <v-list two-line subheader>
                <v-list-item
                    v-for="item in items_content"
                    :key="item.title"
                    
                >
                    <v-list-item-avatar>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-avatar>

                    <v-list-item-content class="resource_title">
                        <v-list-item-title v-text="item.title" ></v-list-item-title>
                        <v-list-item-subtitle v-text="item.file_type"></v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-action>
                        <v-btn icon>
                            <v-icon color="grey lighten-1">mdi-information</v-icon>
                        </v-btn>
                    </v-list-item-action>
                </v-list-item>
            </v-list>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </v-card>
</template>
<script>
  export default {
    data () {
      return {
        tab: null,
        items: [
          'Pre-meeting', 'Post-meeting',
        ],
        items_content: [
            {
                title: 'Title of Resource',
                description: 'Brief description of the file ...Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad',
                url: 'https://www.speareducation.localhost/',
                file_type: 'PDF',
                icon: 'mdi-file-pdf'
            },
            {
                title: 'Title of Resource',
                description: 'Brief description of the file ...Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad',
                url: 'https://www.speareducation.localhost/',
                file_type: 'DOC',
                icon: 'mdi-file-word'
            },
            {
                title: 'Title of Resource',
                description: 'Brief description of the file ...Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad',
                url: 'https://www.speareducation.localhost/',
                file_type: 'PPT',
                icon: 'mdi-file-powerpoint'
            },
            {
                title: 'Title of Resource',
                description: 'Brief description of the file ...Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad',
                url: 'https://www.speareducation.localhost/',
                file_type: 'Video',
                icon: 'mdi-video'
            },
        ],
      }
    },
  }
</script>

<style>
    .resource_title {
        color: #0645AD !important;
        cursor: pointer;
    }
</style>