<template>
    <div>
        <h1 class="title">
          virtual campus
        </h1>
        <div class="row">
            <div class="col-12">
                <vue-webrtc ref="webrtc" width="100%"
                    :roomId="roomId"
                    v-on:joined-room="logEvent"
                    v-on:left-room="logEvent"
                    v-on:opened-room="logEvent"
                    v-on:share-started="logEvent"
                    v-on:share-stopped="logEvent"
                    @error="onError"
                />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-seconday" @click="onJoin">Join</button>
                <button type="button" class="btn btn-seconday" @click="onLeave">Leave</button>
                <button type="button" class="btn btn-seconday" @click="onCapture">Capture Photo</button>
                <button type="button" class="btn btn-seconday" @click="onShareScreen">Share Screen</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <figure class="figure">
                <img :src="img" class="img-responsive" />
                </figure>
            </div>
        </div>
    </div>
</template>

<script> 
    import Vue from 'vue';
    import WebRTC from 'vue-webrtc';
    import * as io from 'socket.io-client'
    window.io = io
 
    Vue.use(WebRTC)
    // import {WebRTC} from 'vue-webrtc';
    // Vue.component(WebRTC.name, WebRTC);

    export default {  
        name: 'conference',
        data() {
            return {
                img: null,
                roomId: "public"
            };
        },
        methods: {
            onCapture() {
                this.img = this.$refs.webrtc.capture();
            },
            onJoin() {
                this.$refs.webrtc.join();
            },
            onLeave() {
                this.$refs.webrtc.leave();
            },
            onShareScreen() {
                this.img = this.$refs.webrtc.shareScreen();
            },
            onError(error, stream) {
                console.log('On Error Event', error, stream);
            },
            logEvent(event) {
                console.log('Event : ', event);
            },
        },
        mounted: function () {
            //this.$refs.webrtc.join()
        }
    }

</script>