<template>
  <div class="container">
    <div class="header" >
      <div class="logo">SPEAR</div>
      <div class="profile">
          <font-awesome-icon :icon="['fas', 'compress']" @click="toggle" />
      </div>
    </div>

    <fullscreen ref="fullscreen" @change="fullscreenChange">
      <div id="main">
        <Placeholder />
        
        <Conference />
        
      </div>
      <div class="sidebar">
        <SideMenu />
      </div>
    </fullscreen>
    
  </div>
</template>

<script>
  import fullscreen from 'vue-fullscreen';
  import SideMenu from '../components/SideMenu';
  import Conference from '../components/call/Conference';
  import Vue from 'vue';
  Vue.use(fullscreen);

  export default {
    name: 'main-app',
    components: {
        SideMenu,
    },
    methods: {
        toggle () {
          this.$refs['fullscreen'].toggle() // recommended
          // this.fullscreen = !this.fullscreen // deprecated
        },
        fullscreenChange (fullscreen) {
          this.fullscreen = fullscreen
        }
    },
    data() {
        return {
          fullscreen: false
        }
    }
  }
</script>

<style lang="scss">
  .container {
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .sidebar {
    width: 50px;
    min-height: 100vh;
    background-color: #344444;
    border-left: 1px solid #333;
    color: #ffffff;
    right: 0;
    position: fixed;
    top: 40px;

  }

  .header {
    overflow: hidden;
    height: 40px;
    background-color: #333;
    border-bottom: 1px solid #333;
    color: #ffffff;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

    .logo {
      float: left;
      font-size: 24px;
      padding-left: 5px;
    }

    .profile {
      float: right;
      padding: 10px;
      padding-right: 60px;
    }
  }
</style>
