<template>
  <ClientOnly>
    <!-- Use the component in the right place of the template -->
    <tiptap-vuetify v-model="content" :extensions="extensions"/>

    <template #placeholder>
      Loading...
    </template>
  </ClientOnly>
</template>

<script>
// import the component and the necessary extensions
import {
  TiptapVuetify,
  Heading,
  Bold,
  Italic,
  Strike,
  Underline,
  Paragraph,
  BulletList,
  OrderedList,
  ListItem,
  HardBreak,
  HorizontalRule,
  History
} from 'tiptap-vuetify'

export default {
  // specify TiptapVuetify component in "components"
  components: { TiptapVuetify },
  data: () => ({
    // declare extensions you want to use
    extensions: [
        [
            Heading,
            {
                options: {
                    levels: [1]
                }
            }
        ],
        Bold,
        Italic,
        ListItem,
        BulletList,
        OrderedList,
        History,
      /*[
        Heading,
        {
          options: {
            levels: [1, 2, 3]
          }
        }
      ],
      Underline,
      Strike,
      HorizontalRule,
      Paragraph,
      HardBreak
      */
    ],
    // starting editor's content
    content: `
      <h1>Yay Headlines!</h1>
      <p>All these <strong>cool tags</strong> are working now.</p>
    `
  })
}
</script>
