<template>
    <div id="notes">
        <Editor />
    </div>
</template>

<script>
     import Editor from './Editor'
    export default {
        name: 'notes',
        components: {
             Editor
        },
        data: () => ({
            pages: [],
            page: {},
            index: 0
        }),
        methods: {
            savePage () {
                 
            },
            deletePage () {
                
            }
        },
    }
</script>

<style scoped>
    #notes {

    }
</style>