<template>
  <v-card
    max-width="500"
    class="mx-auto"
  >
    <v-toolbar
      color="pink"
      secondary
    >
      
      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
 
    </v-toolbar>

    <v-list two-line>
      <v-list-item-group
        v-model="selected"
        multiple
        active-class="pink--text"
      >
        <template v-for="(item, index) in items">
          <v-list-item 
            :key="item.title"
            v-bind:class="{ 'active-event': item.status=='active' }"
            >
            <template v-slot:default="{ active, toggle }">
              <v-list-item-content >
                <v-list-item-title v-text="item.title"></v-list-item-title>
                <v-list-item-subtitle v-if="active" v-text="item.text"></v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-action >
                <v-list-item-action-text v-text="item.time"></v-list-item-action-text>
                 <v-icon v-if="item.status=='completed'" >mdi-checkbox-marked-circle</v-icon>
              </v-list-item-action>
            </template>
          </v-list-item>

        </template>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>

<script>
  export default {
    data: () => ({
      selected: [2],
      items: [
        {
          time: '00:00',
          title: 'Completed agenda item',
          text: "I'll be in your neighborhood doing errands this weekend. Do you want to hang out?",
          status: 'completed',
        },
        {
          time: '05:30',
          title: 'Completed agenda item',
          text: "Wish I could come, but I'm out of town this weekend.",
          status: 'completed',
        },
        {
          time: '6:12',
          title: 'Active agenda item',
          text: 'Do you have Paris recommendations? Have you ever been?',
          status: 'active',
        },
        {
          time: '',
          title: 'Upcoming Agenda Item',
          text: 'Have any ideas about what we should get Heidi for her birthday?',
          status: 'upcoming',
        },
        {
          time: '',
          title: 'Upcoming Agenda Item',
          text: 'We should eat this: Grate, Squash, Corn, and tomatillo Tacos.',
          status: 'upcoming',
        },
      ],
    }),
  }
</script>

<style>
    .active-event {
        background-color: #1863ad;
        color: white !important;
    }

    .v-list-item {
        text-align: left;
    }
    .upcoming-event {
        background-color: #ddd;
    }
</style>